.header {
  height: fit-content;
  width: 100vw;
  background-image: url(../images/Mobile_Hero.png);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 22px 14px;

  @include onDesktop {
    height: 100vh;
    background-image: url(../images/1920.png);
    background-position-x: right;
    padding: 0;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    @include onDesktop {
      width: 35%;
      height: fit-content;
      position: absolute;
      right: 10%;
      top: 110px;
    }

    @include onBigScreen {
      top: 158px;
    }
  }

  &__logo {
    height: 40px;
    width: 169px;

    @include onDesktop {
      height: 61px;
      width: 255px;
      margin-bottom: 31px;
    }
  }

  &__title {
    margin-bottom: 250px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__title > span {
    font-size: 30px;
    color: white;
    display: block;
    font-weight: bold;
    text-align: center;
    cursor: default;
    transition: color 300ms;

    @include onDesktop {
      margin-bottom: 17px;
      font-size: 34px;
      line-height: 50px;
    }
    
    @include onBigScreen {
      font-size: 44px;
      line-height: 60px;
    }

    &:hover {
      color: #9EEB00;
    }
  }

  &__title-mobile {
    display: block;

    @include onDesktop {
      display: none !important;
    }
  }

  &__title-desktop {
    display: none;

    @include onDesktop {
      display: block;
    }
  }
}
